.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 0;
  padding: 0.5rem 2rem;
  .logoContainer {
    height: 2rem;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  .socialButton {
    display: flex !important;
    flex-direction: row;
    gap: 0.5rem;

    a {
      height: 1.75rem;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
}

.whiteLogo {
  animation: changeWhiteLogo 25s linear infinite;
}
.darkLogo {
  animation: changeBlackLogo 25s linear infinite;
}

@keyframes changeWhiteLogo {
  0% {
    display: block !important;
  }

  45% {
    display: block !important;
  }

  50% {
    display: none !important;
  }

  95% {
    display: none !important;
  }

  100% {
    display: block !important;
  }
}

@keyframes changeBlackLogo {
  0% {
    display: none !important;
  }

  45% {
    display: none !important;
  }

  50% {
    display: block !important;
  }

  95% {
    display: block !important;
  }

  100% {
    display: none !important;
  }
}
