.mySwiperxDD {
  height: 50vh;
  // .swiperContainerxD {
  // margin: 0 2rem;
  .swiperSlide {
    border: 10px solid green;
    .featuredProduct {
      width: 400px;
      height: 400px;
      background-color: white;
    }
  }

  // }
}